<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>429162959500-65inmms3bfrqbarp6ubpv1qv1kebg6g4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.429162959500-65inmms3bfrqbarp6ubpv1qv1kebg6g4</string>
	<key>API_KEY</key>
	<string>AIzaSyAp_panmlJ4dS2Jp2BMA6fJSifeiVoxWc8</string>
	<key>GCM_SENDER_ID</key>
	<string>429162959500</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.darshansapplication.app</string>
	<key>PROJECT_ID</key>
	<string>event-9116c</string>
	<key>STORAGE_BUCKET</key>
	<string>event-9116c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:429162959500:ios:267d81591a586954e7a1a9</string>
	<key>DATABASE_URL</key>
	<string>https://event-9116c-default-rtdb.firebaseio.com</string>
</dict>
</plist>